name: maven_test_publish

# run maven tests and publish results in one step
# run from privileged branch

permissions:
  checks: write
  contents: read
  issues: read
  pull-requests: write

on:
  workflow_call:
    inputs:
      project:
        description: 'Name of the artifact env'
        required: false
        default: 'prod'
        type: string
      version_tag:
        description: 'Name of the tag to build'
        required: false
        default: 'latest'
        type: string
      bump:
        description: 'whether to bump the version number by a major minor patch amount or none'
        required: false
        default: 'patch'
        type: string
      ref:
        description: 'git reference to use with the checkout use default_branch to have that calculated'
        required: false
        default: "default"
        type: string
      seed_maven_cache:
        description: Whether to seed cache
        type: boolean
        required: false
        default: true
      install_maven_dependencies:
        description: Whether to install dependencies or use a previous cache
        type: boolean
        required: false
        default: true

  workflow_dispatch:
    inputs:
      project:
        description: 'Name of the artifact env'
        required: false
        default: 'prod'
        type: string
      version_tag:
        description: 'Name of the tag to build'
        required: false
        default: 'latest'
        type: string
      bump:
        description: 'whether to bump the version number by a major minor patch amount or none'
        required: false
        default: 'patch'
        type: string
      ref:
        description: 'git reference to use with the checkout use default_branch to have that calculated'
        required: false
        default: "default"
        type: string
      seed_maven_cache:
        description: Whether to seed cache
        type: boolean
        required: false
        default: true
      install_maven_dependencies:
        description: Whether to install dependencies or use a previous cache
        type: boolean
        required: false
        default: true


jobs:
  maven_test:
    runs-on: ubuntu-latest
    steps:
      - name: git-checkout-ref-action
        id: ref
        uses: ORCID/git-checkout-ref-action@main
        with:
          default_branch: ${{ github.event.repository.default_branch }}
          ref: ${{ inputs.ref }}

      - uses: actions/checkout@v3
        with:
          ref: ${{ steps.ref.outputs.ref }}
          # checkout some history so we can scan commits for bump messages
          # NOTE: history does not include tags!
          fetch-depth: 100

      - name: find next version
        id: version
        uses: ORCID/version-bump-action@main
        with:
          version_tag: ${{ inputs.version_tag }}
          bump: ${{ inputs.bump }}

      - name: Set up Open JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'

########################################################################################
      - name: "Test ${{ inputs.project }}"
        run: |
          mvn -T 1C --batch-mode test \
              -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn \
              --projects=${{ inputs.project }} --fail-at-end

      # NOTE: if the above test fail then this step will report that failure and stop the run
#       - name: Publish Unit Test Results
#         uses: dorny/test-reporter@e9fa2f582c0ebbe2e263fd18fad744d52e0b0203
#         if: always()
#         with:
#           name: "maven_test_publish_${{ inputs.project }}"
#           path: ${{ inputs.project }}/target/surefire-reports/*.xml
#           reporter: java-junit
#           fail-on-error: false
# 
#       - name: Publish Unit Test Results
#         uses: scacap/action-surefire-report@v1.8.0
#         if: failure() # only report if a test has failed
#         with:
#           report_paths: ${{ inputs.project }}/target/surefire-reports/*.xml
#           create_check: true
#           fail_on_test_failures: false
#           file_name_in_stack_trace: true
#           skip_publishing: false
#           fail_if_no_tests: false

      - name: Publish Unit Test Results
        uses: mikepenz/action-junit-report@v5
        if: failure() # only report if a test has failed
        with:
          report_paths: ${{ inputs.project }}/target/surefire-reports/*.xml
          annotate_only: true




